<html>
	<head>
	  <meta charset="UTF-8">
	<title>Project1</title>
	<link rel="stylesheet" type="text/css" href="../css/test.css">
	</head>
	<body>
	<header>
	<div class = "container">
		<div class = "topweb">
			<img src = "../images/logo.png" class ="logo-left">
			<h3>Phòng khám chuyên khoa</h3>
			<p>Vật lý trị liệu - Phục hồi chức năng</p>
		</div>
		<div class = "logo-right">
			<img src="../images/icon-phone.png"><p>Câu hỏi cho bác sĩ?<span> xxx.xxx.xxx</span></p>
		</div>
	</div>
	<div class = "menubar">
		<div class = "container">
			<ul class = "menusub1">
			<li><a href = "#">TRANG CHỦ</a></li>
			<li><a href = "#">GIƠÍ THIÊJU</a></li>
			<li><a href = "#">DỊCH VỤ Y TÊ'</a></li>
			<li><a href = "#">Y HỌC THƯƠFNG THƯSC</a></li>
			<li><a href = "#">ĐĂJT LỊCH KHÁM</a></li>
			<li><a href = "#">TƯ VÂSN LIÊN HÊJ</a></li>
			<li id ="speciesid">
				<img src="../images/icon-facebook.png">
				<img src="../images/icon-youtube.png">
				<img src="../images/google.png">
			</li>
			</ul>
		</div>
	</div>
	<div class = "banner">
		<img src = "../images/banner.jpg">
	</div>
	</header>
	<main>
	<SECTION class = "main-container">
	<!menu nguoi lon>
	<aside class = "aside-left">
		<div>
		<ul>
			<!menu1>
			<li>
			<p>Người lớn</p>
			<ul>
				<li><a href = "#">Đau cổ-vai-tay</a></li>
				<li><a href = "#">Đau cột sống</a></li>
				<li><a href = "#">Thoát vị đĩa đệm</a></li>
				<li><a href = "#">Khớp gối, khớp hông</a></li>
				<li><a href = "#">Đau chân</a></li>
				<li><a href = "#">Các bênh về cơ</a></li>
				<li><a href = "#">Thần kinh ngoại biên</a></li>
				<li><a href = "#">Di chứng tai biến mạch máu não</a></li>
				<li><a href = "#">Di chứng chấn thương</a></li>
			</ul>
			</li>
			<!//menu2>
			<li>
			<p>trẻ em</p>
			<ul>
				<li><a href = "#">Đau cổ-vai-tay</a></li>
				<li><a href = "#">Đau cột sống</a></li>
				<li><a href = "#">Thoát vị đĩa đệm</a></li>
				<li><a href = "#">Khớp gối, khớp hông</a></li>
				<li><a href = "#">Đau chân</a></li>
				<li><a href = "#">Các bênh về cơ</a></li>
				<li><a href = "#">Thần kinh ngoại biên</a></li>
				<li><a href = "#">Di chứng tai biến mạch máu não</a></li>
				<li><a href = "#">Di chứng chấn thương</a></li>
			</ul>
			</li>
		</ul>
		</div>
	<!dat lich kham>
		<div class = "calendar">
		<p>Đặt lịch khám</p>
		<form>
		<input type ="text" placeholder="Họ & Tên" name ="username"/>
		<br>
		<input type ="text" placeholder="Địa chỉ" name = "address"/>
		<br>
		<input type="text" placeholder="Số điện thoại" name = "phonenumber"/>
		<br>
		<input type="date" placeholder="Thời gian" name = "time"/>
		<br>
		<input type ="submit" name = "submit" value = "Đặt lịch" class "input1">
		</form>
		</div>
	</aside>
	<!benh>
	<ul class = "col-main">
		<li class ="item">
		<div class ="subitem">	
		<img src="../images/new-1.jpg">
		<h3>Đau cổ vai tay</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
		</div>
		</li>
		<li class ="item">
		<div class ="subitem">
		<img src="../images/new-2.jpg">
		<h3>Đau cổ vai tay</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
		</div>
		</li>
		<li class ="item">
		<div class ="subitem">
		<img src="../images/new-3.jpg">
		<h3>Đau cổ vai tay</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
		</div>
		</li>
		<li class ="item">
		<div class ="subitem">
		<img src="../images/new-4.jpg">
		<h3>Đau cổ vai tay</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
		</div>
		</li>
		<li class ="item">
		<div class ="subitem">
		<img src="../images/new-5.jpg">
		<h3>Đau cổ vai tay</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
		</div>
		</li>
		<li class ="item">
		<div class ="subitem">
		<img src="../images/new-6.jpg">
		<h3>Đau cổ vai tay</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
		</div>
		</li>					
		<li class ="item">
		<div class ="subitem">
		<img src="../images/new-7.jpg">
		<h3>Đau cổ vai tay</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
		</div>
		</li>			
		<li class ="item">
		<div class ="subitem">
		<img src="../images/new-8.jpg">
		<h3>Đau cổ vai tay</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
		</div>
		</li>
	</>	
	</main>
	<footer>
	<div class = "footer-container">
		<!menu>
		<ul class = "clearstyle">
		<li class = "footer-menu1">VE PHONG KHAM
			<ul>
				<li><a href ="#">GIOI THIEU CHUNG</a></li>
				<li><a href ="#">NHAN LUC</a></li>
				<li><a href ="#">TRANG THIET BI VA CO SO VAT CHAT</a></li>
			</ul>
		</li>
		<li class = "footer-menu1">HO TRO
			<ul>
				<li><a href ="#">TU VAN SUC KHOE</a></li>
				<li><a href ="#">Y HOC THUONG THUC</a></li>
				<li><a href ="#">DAT LICH KHAM</a></li>
			</ul>
		</li>
		<li class = "footer-menu1">KET NOI XA HOI
			<ul class = "clearstyle1">
				<li><a href ="#"><img src ="../images/icon-facebook.png"><p>FACEBOOK</p></a></li>
				<li><a href ="#"><img src ="../images/icon-youtube.png"><p>YOUTUBE</p></a></li>
				<li><a href ="#"><img src ="../images/google.png"><p>GOOGLE</p></a></li>
			</ul>
		</li>
		</ul>
		</div>
	</div>
	<!ban quyen>
	<div class = "copyright">
		<div class = "footer-container footer-end">
			<p class = "copyright-left">BAN QUYEN THUOC PHONG KHAM CHUYEN KHOA</p>
			<p class = "copyright-right">PHAT TRIEN BOI KOKO.DUONGQUA</p>
		</div>
	</div>
	</footer>
	</body>
</html>
