<html>
	<head>
	  <meta charset="UTF-8">
	<title>Project1</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<script type="text/javascript" src="../js/myjs.js"></script>
	</head>
	<body>
	<header>
	<nav class = "header-top">
		<div class = "container">
			<div class = "logo">
				<img src = "../images/logo.png">
				<div class = "introduce">
					<h2 class = "introduce1">PHONG KHAM CHUYEN KHOA	</h2>
					<p class = "introduce2">Vật lý trị liệu - Phục hồi chức năng</p>
				</div>
			</div>
			<span class = "contract">
				<img class = "contract-modifier" src="../images/icon-phone.png">
				<div class = "mini-contract"><i>Câu hỏi cho bác sĩ?</i><span class = "bold"> 01684.344.275</span>
				</div>
			</span>
		</div>
	</nav>
	<nav class = "header-bottom">
		<div class = "container">
			<ul class = "main-menu">
				<li><a href = "#">TRANG CHỦ</a></li>
				<li><a href = "#">GIƠÍ THIÊJU</a></li>
				<li><a href = "#">DỊCH VỤ Y TÊ'</a></li>
				<li><a href = "#">Y HỌC THƯƠFNG THƯSC</a></li>
				<li><a href = "#">ĐĂJT LỊCH KHÁM</a></li>
				<li><a href = "#">TƯ VÂSN LIÊN HÊJ</a></li>
			</ul>
			<div class ="social">
					<img src="../images/icon-facebook.png">
					<img src="../images/icon-youtube.png">
					<img src="../images/google.png">
			</div>
		</div>
	</nav>
	<nav class = "banner">
		<img class = "banner" src = "../images/banner.jpg">
	</nav>
	</header>
	<main>
	<div class = "main-content">
		<div class = "container">
			<aside class = "leftside">
				<div class = "block block-menu">
					<ul>
						<!menu1>
						<li>
						<p>NGUOI LON</p>
						<!--<button class = "right" href = "#">+</button>-->
						<ul class = "havestyle">
							<li><a href = "#">Đau cổ-vai-tay</a></li>
							<li><a href = "#">Đau cột sống</a></li>
							<li><a href = "#">Thoát vị đĩa đệm</a></li>
							<li><a href = "#">Khớp gối, khớp hông</a></li>
							<li><a href = "#">Đau chân</a></li>
							<li><a href = "#">Các bênh về cơ</a></li>
							<li><a href = "#">Thần kinh ngoại biên</a></li>
							<li><a href = "#">Di chứng tai biến mạch máu não</a></li>
							<li><a href = "#">Di chứng chấn thương</a></li>
						</ul>
						</li>
						<!//menu2>
						<li>
						<p>TRE EM</p>
						<ul class = "havestyle">
							<li><a href = "#">Đau cổ-vai-tay</a></li>
							<li><a href = "#">Đau cột sống</a></li>
							<li><a href = "#">Thoát vị đĩa đệm</a></li>
							<li><a href = "#">Khớp gối, khớp hông</a></li>
							<li><a href = "#">Đau chân</a></li>
							<li><a href = "#">Các bênh về cơ</a></li>
							<li><a href = "#">Thần kinh ngoại biên</a></li>
							<li><a href = "#">Di chứng tai biến mạch máu não</a></li>
							<li><a href = "#">Di chứng chấn thương</a></li>
						</ul>
						</li>
					</ul>
				</div>
				<div class = "block block-form">
					<div class="mini-container">
						<b><p>Đặt lịch khám</p></b>
						<form>
						<input type ="text" placeholder="Họ & Tên" name ="username"/>
						<input type ="text" placeholder="Địa chỉ" name = "address"/>
						<input type="text" placeholder="Số điện thoại" name = "phonenumber"/>
						<input type="date" placeholder="Thời gian" name = "time"/>
						<input type ="submit" name = "submit" value = "Đặt lịch" class = "input-only">
						</form>
					</div>
				</div>
			</aside>
			<div class = "col-main">
				<ul class = "news-list">
					<!--
					<li class ="item">
						<div class ="inner">	
							<img src="../images/new-1.jpg">
							<h3>Đau cổ vai tay</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
							<div class="arrow">
								<a href="#"><img src = "../images/rightarrow.png"></a>
						</div>
						</div>
					</li>
					<li class="item">
						<div class="inner">
							<img src="../images/new-2.jpg">
							<h3>Đau cổ vai tay</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
							<div class = "arrow">
								<a href = "#"><img src = "../images/rightarrow.png"></a>
							</div>
						</div>
					</li>
					<li class ="item">
						<div class ="inner">
							<img src="../images/new-3.jpg">
							<h3>Đau cổ vai tay</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
							<div class = "arrow">
								<a href = "#"><img src = "../images/rightarrow.png"></a>
							</div>
						</div>
					</li>
					<li class ="item">
						<div class ="inner">
							<img src="../images/new-4.jpg">
							<h3>Đau cổ vai tay</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
							<div class = "arrow">
								<a href = "#"><img src = "../images/rightarrow.png"></a>
							</div>
						</div>
					</li>
					<li class ="item">
						<div class ="inner">
							<img src="../images/new-5.jpg">
							<h3>Đau cổ vai tay</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
							<div class = "arrow">
								<a href = "#"><img src = "../images/rightarrow.png"></a>
							</div>
						</div>
					</li>
					<li class ="item">
						<div class ="inner">
							<img src="../images/new-6.jpg">
							<h3>Đau cổ vai tay</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
							<div class = "arrow">
								<a href = "#"><img src = "../images/rightarrow.png"></a>
							</div>
						</div>
					</li>					
					<li class ="item">
						<div class ="inner">
							<img src="../images/new-7.jpg">
							<h3>Đau cổ vai tay</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
							<div class = "arrow">
								<a href = "#"><img src = "../images/rightarrow.png"></a>
							</div>
						</div>
					</li>			
					<li class ="item">
						<div class ="inner">
							<img src="../images/new-8.jpg">
							<h3>Đau cổ vai tay</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
							<div class = "arrow">
								<a href = "#"><img src = "../images/rightarrow.png"></a>
							</div>
						</div>
					</li>
					<li class ="item">
						<div class ="inner">
							<img src="../images/new-9.jpg">
							<h3>Đau cổ vai tay</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
							<div class = "arrow">
								<a href = "#"><img src = "../images/rightarrow.png"></a>
							</div>
						</div>
					</li>
					-->
				</ul>
		</div>
		</div>
	</div>	
	</main>
	<div class = "footer-container">
		<div class = "container">
		<ul class = "footer-menu">
			<li class = "footer-infor"><b>VE PHONG KHAM</b>
				<ul>
					<li><a href ="#">GIOI THIEU CHUNG</a></li>
					<li><a href ="#">NHAN LUC</a></li>
					<li><a href ="#">TRANG THIET BI VA CO SO VAT CHAT</a></li>
				</ul>
			</li>
			<li class = "footer-infor"><b>HO TRO</b>
				<ul>
					<li><a href ="#">TU VAN SUC KHOE</a></li>
					<li><a href ="#">Y HOC THUONG THUC</a></li>
					<li><a href ="#">DAT LICH KHAM</a></li>
				</ul>
			</li>
			<li class = "footer-infor"><b>KET NOI XA HOI</b>
				<ul class = "notype">
					<li><a href ="#"><img src ="../images/icon-facebook.png"><p>FACEBOOK</p></a></li>
					<li><a href ="#"><img src ="../images/icon-youtube.png"><p>YOUTUBE</p></a></li>
					<li><a href ="#"><img src ="../images/google.png"><p>GOOGLE</p></a></li>
				</ul>
			</li>
		</ul>
		</div>
		<div class = "copyright">
			<div class = "footer-container footer-end">
				<div class = "container">
					<p class = "copyright-left">BAN QUYEN THUOC PHONG KHAM CHUYEN KHOA</p>
					<p class = "copyright-right">PHAT TRIEN BOI KOKO.DUONGQUA</p>
				</div>
			</div>
		</div>
	</div>
	</body>
</html>
<!-- <script>
var itemValue = [
	{
		image: "../images/new-1.jpg",
		title: "Đau cổ vai tay",
		description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna"
	},
	{
		image: "../images/new-2.jpg",
		title: "Đau cổ vai tay",
		description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna"
	},
	{
		image: "../images/new-3.jpg",
		title: "Đau cổ vai tay",
		description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna"
	},
	{
		image: "../images/new-4.jpg",
		title: "Đau cổ vai tay",
		description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna"
	},
	{
		image: "../images/new-5.jpg",
		title: "Đau cổ vai tay",
		description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna"
	},
	{
		image: "../images/new-6.jpg",
		title: "Đau cổ vai tay",
		description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna"
	},
	{
		image: "../images/new-7.jpg",
		title: "Đau cổ vai tay",
		description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna"
	},
	{
		image: "../images/new-8.jpg",
		title: "Đau cổ vai tay",
		description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna"
	},
	{
		image: "../images/new-9.jpg",
		title: "Đau cổ vai tay",
		description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna"
	}
];
var x = document.getElementsByClassName("news-list");
var innerToHTML = '';
itemValue.forEach(function(element)
	{
		innerToHTML += '<li class ="item">' +
		'<div class ="inner">' +
		'<img src = "' + element.image + '">' +
		'<h3>' + element.title + '</h3>' +
		'<p>' + element.description + '</p>' +
		'<div class="arrow">' +
		'<a href="#"><img src = "../images/rightarrow.png"></a>' +
		'</div></div></li>';
	});
x[0].innerHTML = innerToHTML;
</script> -->