<html>
	<head>
	<title>Project1</title>
	<link rel="stylesheet" type="text/css" href="../css/reset.css">
	<link rel="stylesheet" type="text/css" href="../css/test.css">
	</head>
	<body>
	<header>
	<div class = "topweb">
		<img src = "../images/logo.png" id ="floathere">
		<p >Phòng khám chuyên khoa</p>
		<p>Vật lý trị liệu - Phục hồi chức năng</p>
		<div id = "imgright">
			<img src="../images/icon-phone.png"><p>Câu hỏi cho bác sĩ?<span> xxx.xxx.xxx</span></p>
		</div>
	</div>
	<div class = "menubar">
		<ul class = "menusub1">
		<li><a href = "#">TRANG CHỦ</a></li>
		<li><a href = "#">GIƠÍ THIÊJU</a></li>
		<li><a href = "#">DỊCH VỤ Y TÊ'</a></li>
		<li><a href = "#">Y HỌC THƯƠFNG THƯSC</a></li>
		<li><a href = "#">ĐĂJT LỊCH KHÁM</a></li>
		<li><a href = "#">TƯ VÂSN LIÊN HÊJ</a></li>
		<li id ="speciesid">
			<img src="../images/icon-facebook.png">
			<img src="../images/icon-youtube.png">
			<img src="../images/google.png">
		</li>
		</ul>
	</div>
		<img src = "../images/banner.jpg">
	</header>
	<main>
	<SECTION>
	<!menu nguoi lon>
	<aside>
		<div>
		<ul>
			<!menu1>
			<li>
			Người lớn
			<ul>
				<li><a href = "#">Đau cổ-vai-tay</a></li>
				<li><a href = "#">Đau cột sống</a></li>
				<li><a href = "#">Thoát vị đĩa đệm</a></li>
				<li><a href = "#">Khớp gối, khớp hông</a></li>
				<li><a href = "#">Đau chân</a></li>
				<li><a href = "#">Các bênh về cơ</a></li>
				<li><a href = "#">Thần kinh ngoại biên</a></li>
				<li><a href = "#">Di chứng tai biến mạch máu não</a></li>
				<li><a href = "#">Di chứng chấn thương</a></li>
			</ul>
			</li>
			<!//menu2>
			<li>
			trẻ em
			<ul>
				<li><a href = "#">Đau cổ-vai-tay</a></li>
				<li><a href = "#">Đau cột sống</a></li>
				<li><a href = "#">Thoát vị đĩa đệm</a></li>
				<li><a href = "#">Khớp gối, khớp hông</a></li>
				<li><a href = "#">Đau chân</a></li>
				<li><a href = "#">Các bênh về cơ</a></li>
				<li><a href = "#">Thần kinh ngoại biên</a></li>
				<li><a href = "#">Di chứng tai biến mạch máu não</a></li>
				<li><a href = "#">Di chứng chấn thương</a></li>
			</ul>
			</li>
		</ul>
		</div>
	<!dat lich kham>
		<div>
		<p>Đặt lịch khám</p>
		<form>
		<input type ="text" placeholder="Họ & Tên" name ="username"/>
		<br>
		<input type ="text" placeholder="Địa chỉ" name = "address"/>
		<br>
		<input type ="text" placeholder="Số điện thoại" name = "phonenumber"/>
		<br>
		<input type ="date" placeholder="Thời gian" name = "time"/>
		<br>
		<input type ="submit" name = "submit" value = "Đặt lịch">
		</form>
		</div>
	</aside>
	<!benh>
		<div>
		<img src="../images/new-1.jpg">
		<h3>Đau cổ vai tay</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
		</div>
		<div>
		<img src="../images/new-2.jpg">
		<h3>Đau cổ vai tay</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
		</div>
		<div>
		<img src="../images/new-3.jpg">
		<h3>Đau cổ vai tay</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
		</div>
		<div>
		<img src="../images/new-4.jpg">
		<h3>Đau cổ vai tay</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
		</div>
		<div>
		<img src="../images/new-5.jpg">
		<h3>Đau cổ vai tay</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
		</div>
		<div>
		<img src="../images/new-6.jpg">
		<h3>Đau cổ vai tay</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
		</div>					
		<div>
		<img src="../images/new-7.jpg">
		<h3>Đau cổ vai tay</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
		</div>			
		<div>
		<img src="../images/new-8.jpg">
		<h3>Đau cổ vai tay</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
		</div>	
	</SECTION>
	</main>
	<footer>
	<!--
		<!menu>
		<section>
		<ul>
		<li>VE PHONG KHAM
			<ul>
				<li><a href ="#">GIOI THIEU CHUNG</a></li>
				<li><a href ="#">NHAN LUC</a></li>
				<li><a href ="#">TRANG THIET BI VA CO SO VAT CHAT</a></li>
			</ul>
		</li>
		<li>HO TRO
			<ul>
				<li><a href ="#">TU VAN SUC KHOE</a></li>
				<li><a href ="#">Y HOC THUONG THUC</a></li>
				<li><a href ="#">DAT LICH KHAM</a></li>
			</ul>
		</li>
		<li>KET NOI XA HOI
			<ul>
				<li><a href ="#"><img src ="../images/icon-facebook.png">FACEBOOK</a></li>
				<li><a href ="#"><img src ="../images/icon-youtube.png">YOUTUBE</a></li>
				<li><a href ="#"><img src ="../images/google.png">GOOGLE</a></li>
			</ul>
		</li>
		</ul>
		</section>
		<!ban quyen>
		<div>
			<p>BAN QUYEN THUOC PHONG KHAM CHUYEN KHOA
			<p>PHAT TRIEN BOI KOKO.DUONGQUA
		</div>
		-->
		<img src="../images/Layer-34.png">
	</footer>
	</body>
</html>
